# Plotting library for IPython/Jupyter notebooks
# https://github.com/bqplot/bqplot
# bqplot

# Interactive Canvas in Jupyter
# https://ipycanvas.readthedocs.io/en/latest/
# ipycanvas>=0.9.1

# Browsers events for your jupyter widgets
# https://github.com/mwcraig/ipyevents
# ipyevents>=2.0.1

# Interactive maps in the Jupyter notebook
# https://ipyleaflet.readthedocs.io/en/latest/
# ipyleaflet


# ipympl enables using the interactive features of matplotlib in Jupyter Notebooks
# https://matplotlib.org/ipympl/
# ipympl>=0.8.2

# Jupyter Widgets are interactive browser controls for Jupyter notebooks.
# https://ipywidgets.readthedocs.io/en/stable/
# ipywidgets>=8.0.0,<9

# JupyterLab is the next-generation web-based user interface for Project Jupyter.
# https://jupyterlab.readthedocs.io/en/stable/
jupyterlab~=3.4.7

# jupyterlab-drawio
# jupyterlab-language-pack-fr-FR
# jupyterlab-language-pack-zh-CN
# jupyterlab-fasta>=3,<4
# jupyterlab-geojson>=3,<4
# jupyterlab-tour


jupyterlite==0.1.0b13

# jupyterlite-p5-kernel==0.1.0a12
# jupyterlite-xeus-lua==0.3.1
# jupyterlite-xeus-wren==0.2.1
# jupyterlite-xeus-sqlite==0.2.1

# plotly>=5,<6

# theme-darcula
# jupyterlab_miami_nights
